*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: linear-gradient(to right top , #b814f9 ,#1f86ed ,#0ee6b4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
.continer{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px #38383892;
    text-align: center;
    width: 85%;
    max-width: 500px;


}
.heading{
    font-size: 25px;
    margin-bottom: 25px;
}

.input{
    width: 350px;
    height: 45px;
    border-radius: 5px;
    background: #ffffffb4;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 600;
    color: #222222a5;
    padding: 10px;

}

.wrong{
    color: red;
    font-size:20px;
}



.next p{
    display: flex ;
    justify-content: flex-start;
    margin-top: 15px;
    margin-left: 20%;


}

.next p span{
    max-height:90px;
    max-width: 200px;
    font-weight: 600;
    margin-left: 10px;
    letter-spacing: 1px;
    overflow: auto;

}

.audio{
    opacity: .8;
    color: #b814f9;
    margin-top: 10px;
}
